<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently working as a Senior Engineer, Office 365 at
      <a class="underline-link" href="https://www.bluebirdbio.com/" target="_blank">bluebirdbio</a> implementing and maintaining various services and features in Office 365. I have a Master's degree from 
      <a class="underline-link" href="http://www.emich.edu/comptuer-science" target="_blank">Eastern Michigan University</a> in computer science 
    </p>

    <p>
      As a problem-solver and anaylst, I enjoy bridging the gap between operations and information technology &mdash; combining my technical knowledge
      with my keen eye for automation to reduce operational costs, increase productivity and reliability, ensuring high availability, and optimizing performance. My goal is to always identify right technologies that are scalable, secure
      and efficient under the hood while improving the process and usability for an end-user.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably cooking or enjoying time with my family.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
