<section class="section featured-projects">
  <div class="section__title">Certifications</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <a href="https://www.youracclaim.com/badges/ada796dd-adb4-48db-b631-c6961abc1ef5" target="_blank">
          <img src="{{site.baseurl}}/img/mcsa-office-365-certified-2019.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.youracclaim.com/badges/ada796dd-adb4-48db-b631-c6961abc1ef5" target="_blank">Microsoft Certified Solutions Associate – Office 365</a>
        </div>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <a href="https://www.youracclaim.com/badges/d24dbfe9-314d-41bf-89f4-466c99f93111" target="_blank">
          <img src="{{site.baseurl}}/img/microsoft-365-certified-teams-administrator-associate.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.youracclaim.com/badges/d24dbfe9-314d-41bf-89f4-466c99f93111" target="_blank">Microsoft 365 Certified: Teams Administrator Associate</a>
        </div>
      </figcaption>
    </div>
    
        <div class="project">
      <figure class="project__pic">
        <a href="https://www.youracclaim.com/badges/fe2964fc-e987-45a7-b8ae-c1c8b83ccde1" target="_blank">
          <img src="{{site.baseurl}}/img/azure-administrator-associate.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.youracclaim.com/badges/fe2964fc-e987-45a7-b8ae-c1c8b83ccde1" target="_blank">Microsoft Certified: Azure Administrator Associate</a>
        </div>
      </figcaption>
    </div>
    
  </div>
</section>

