<section class="section featured-projects">
  <div class="section__title">Certifications</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <a href="https://www.youracclaim.com/badges/ada796dd-adb4-48db-b631-c6961abc1ef5" target="_blank">
          <img src="{{site.baseurl}}/img/mcsa-office-365-certified-2019.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          
        </div>
        <p>Microsoft Certified Solutions Associate – Office 365</p>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <a href="https://www.youracclaim.com/badges/d24dbfe9-314d-41bf-89f4-466c99f93111" target="_blank">
          <img src="{{site.baseurl}}/img/microsoft-365-certified-teams-administrator-associate.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          
        </div>
        <p>Microsoft 365 Certified: Teams Administrator Associate</p>
      </figcaption>
    </div>
  </div>
</section>

